table {
    width: 100px;
    height: 100px;
    text-align: center;
    border: black;
}
button.gameBTN {
    width:33px;
    height: 33px;
}
button.playerModeBTN{
    width:200px;
    height: 33px;
}